<div class="sm:col-span-2" [formGroup]="formRepeatable">
  <dd class="mt-1 text-sm text-gray-900">
    <ul class="rounded-md divide-y divide-gray-200">
      <li class="pl-3 pr-4 py-3 flex flex-col text-sm">
        <button
          (click)="addForm()"
          type="button"
          class="
            relative
            block
            w-full
            border-2 border-gray-300 border-dashed
            rounded-lg
            p-4
            text-center
            hover:border-gray-400
            focus:outline-none
            focus:ring-2
            focus:ring-offset-2
            focus:ring-primary-500
          "
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-12 w-12 mx-auto text-gray-600"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z"
            />
          </svg>
          <span class="mt-2 block text-sm font-medium text-gray-900">
            Agregar
          </span>
        </button>
      </li>
    </ul>
  </dd>
</div>
