<!-- <pre>
  {{ formMinuta.value | json }}
</pre>
<pre>
  {{ newDiscursante.value | json }}
</pre> -->

<form
  [formGroup]="formMinuta"
  class="max-w-7xl space-y-8 divide-y divide-gray-200"
>
  <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
    <div>
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Direccion de la Reunion
        </h3>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">
          Lideres quienes dirigen la siguiente region.
        </p>
      </div>

      <div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">
        <div
          class="
            grid
            md:grid-cols-3
            md:gap-4
            md:items-start
            md:border-t
            sm:border-gray-200
            md:pt-5
          "
        >
          <mat-form-field appearance="outline">
            <mat-label>Preside</mat-label>
            <input
              formControlName="preside"
              matInput
              placeholder="Placeholder"
            />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Dirige</mat-label>
            <input
              formControlName="dirige"
              matInput
              placeholder="Placeholder"
            />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Fecha de Reunion</mat-label>
            <input formControlName="fecha" matInput [matDatepicker]="picker" />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Reconocimientos</mat-label>
            <input
              formControlName="reconocimientos"
              matInput
              placeholder="Placeholder"
            />
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="pt-8 space-y-6 sm:pt-10 sm:space-y-5">
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">Reunion</h3>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">
          Informacion general de la reunion
        </p>
      </div>
      <div class="space-y-6 sm:space-y-5">
        <div
          class="
            sm:grid sm:grid-cols-2
            sm:gap-4
            sm:items-start
            sm:border-t sm:border-gray-200
            sm:pt-5
          "
        >
          <!-- Primera oracion -->
          <div>
            <label
              for="first_name"
              class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"
            >
              Primera Oracion
              <!-- Primera Oracion -->
            </label>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <mat-form-field class="w-3/4" appearance="outline">
                <input
                  formControlName="primeraOracion"
                  matInput
                  placeholder="Placeholder"
                />
              </mat-form-field>
            </div>
          </div>

          <!-- Primer Himno -->
          <div>
            <label
              for="last_name"
              class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"
            >
              Primer Himno
            </label>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <mat-form-field class="w-3/4" appearance="outline">
                <input
                  formControlName="primerHimno"
                  matInput
                  placeholder="Placeholder"
                />
              </mat-form-field>
            </div>
          </div>
        </div>

        <!-- Anuncios -->
        <div
          class="
            sm:grid sm:grid-cols-3
            sm:gap-4
            sm:items-start
            sm:border-t sm:border-gray-200
            sm:pt-5
          "
        >
          <label
            for="email"
            class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"
          >
            Anuncios
          </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <mat-form-field class="w-full">
              <textarea formControlName="anuncios" matInput></textarea>
            </mat-form-field>
          </div>
        </div>
        <!-- Relevos -->
        <div
          class="
            sm:grid sm:grid-cols-3
            sm:gap-4
            sm:items-start
            sm:border-t sm:border-gray-200
            sm:pt-5
          "
        >
          <label
            for="country"
            class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"
          >
            Relevos
          </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <mat-form-field class="w-full">
              <textarea formControlName="relevos" matInput></textarea>
            </mat-form-field>
          </div>
        </div>
        <!-- Sostenimientos -->
        <div
          class="
            sm:grid sm:grid-cols-3
            sm:gap-4
            sm:items-start
            sm:border-t sm:border-gray-200
            sm:pt-5
          "
        >
          <label
            for="street_address"
            class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"
          >
            Sostenimientos
          </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <mat-form-field class="w-full">
              <textarea formControlName="sostenimientos" matInput></textarea>
            </mat-form-field>
          </div>
        </div>
        <!-- himno Sacramental -->
        <div
          class="
            sm:grid sm:grid-cols-3
            sm:gap-4
            sm:items-start
            sm:border-t sm:border-gray-200
            sm:pt-5
          "
        >
          <label
            class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"
          >
            Himno Sacramental
          </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <mat-form-field appearance="outline" class="w-1/2">
              <input
                formControlName="himnoSacramental"
                matInput
                placeholder="Placeholder"
              />
            </mat-form-field>
          </div>
        </div>

        <!-- Discursantes -->
        <div
          class="
            sm:grid sm:grid-cols-3
            sm:gap-4
            sm:items-start
            sm:border-t sm:border-gray-200
            sm:pt-5
          "
        >
          <label
            class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"
          >
            Primer Discursante
          </label>
          <!-- listado discursante -->
          <div formArrayName="discursantes">
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <!-- Añadir Discursante -->
              <mat-form-field appearance="outline" class="w-1/2">
                <input
                  [formControl]="newDiscursante"
                  matInput
                  placeholder="Placeholder"
                  (keyup.enter)="agregarDiscursante()"
                />
              </mat-form-field>
              <button
                (click)="agregarDiscursante()"
                type="button"
                class="
                  inline-flex
                  items-center
                  p-1
                  ml-2
                  border border-transparent
                  rounded-full
                  shadow-sm
                  text-white
                  bg-green-600
                  hover:bg-green-700
                  focus:outline-none
                  focus:ring-2 focus:ring-offset-2 focus:ring-green-500
                "
              >
                <!-- Heroicon name: solid/plus -->
                <svg
                  class="h-5 w-5"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                    clip-rule="evenodd"
                  />
                </svg>
              </button>
            </div>

            <div
              *ngFor="
                let discursante of discursantesArr.controls;
                let i = index
              "
              class="mt-1 sm:mt-0 sm:col-span-2"
            >
              <mat-form-field appearance="outline" class="w-1/2">
                <input
                  [formControlName]="i"
                  matInput
                  placeholder="Placeholder"
                />
              </mat-form-field>
              <button
                type="button"
                class="
                  inline-flex
                  items-center
                  p-1
                  ml-2
                  border border-transparent
                  rounded-full
                  shadow-sm
                  text-white
                  bg-red-600
                  hover:bg-red-700
                  focus:outline-none
                  focus:ring-2 focus:ring-offset-2 focus:ring-red-500
                "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M18 12H6"
                  />
                </svg>
              </button>
            </div>
          </div>

          <!-- temas -->
          <div></div>
        </div>

        <!-- Ultima oracion oracion y ultimo himno -->
        <div
          class="
            sm:grid sm:grid-cols-2
            sm:gap-4
            sm:items-start
            sm:border-t sm:border-gray-200
            sm:pt-5
          "
        >
          <div>
            <label
              for="first_name"
              class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"
            >
              Ultima Oracion
            </label>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <mat-form-field class="w-3/4" appearance="outline">
                <input
                  formControlName="oracionFinal"
                  matInput
                  placeholder="Placeholder"
                />
              </mat-form-field>
            </div>
          </div>

          <!-- Himno Final -->
          <div>
            <label
              for="last_name"
              class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"
            >
              Himno Final
            </label>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <mat-form-field class="w-3/4" appearance="outline">
                <input
                  formControlName="himnoFinal"
                  matInput
                  placeholder="Placeholder"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pt-5">
    <div class="flex justify-end">
      <button
        type="button"
        class="
          bg-white
          py-2
          px-4
          border border-gray-300
          rounded-md
          shadow-sm
          text-sm
          font-medium
          text-gray-700
          hover:bg-gray-50
          focus:outline-none
          focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500
        "
      >
        Cancel
      </button>
      <button
        type="submit"
        class="
          ml-3
          inline-flex
          justify-center
          py-2
          px-4
          border border-transparent
          shadow-sm
          text-sm
          font-medium
          rounded-md
          text-white
          bg-indigo-600
          hover:bg-indigo-700
          focus:outline-none
          focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500
        "
      >
        Save
      </button>
    </div>
  </div>
</form>
