<form
  [formGroup]="formMinuta"
  autocomplete="off"
  class="max-w-7xl space-y-8 divide-y divide-gray-200"
>
  <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
    <div>
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Direccion de la Reunion
        </h3>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">
          Lideres quienes dirigen la siguiente region.
        </p>
      </div>
      <div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">
        <div
          class="
            grid
            md:grid-cols-4 md:gap-4 md:items-start md:border-t
            sm:border-gray-200
            md:pt-5
            space-y-6
            md:space-y-0
          "
        >
          <!-- tipo de reunion  -->
          <mat-form-field appearance="outline">
            <mat-label>Tipo de Reunion</mat-label>
            <mat-select class="capitalize" formControlName="tipos_de_minuta">
              <mat-option
                class="capitalize"
                *ngFor="let type of tipoMinuta | async; let i = index"
                [value]="type.id"
              >
                {{ type.minuta }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!-- Preside -->
          <mat-form-field appearance="outline">
            <mat-label>Preside</mat-label>
            <input
              formControlName="preside"
              matInput
              placeholder="Placeholder"
            />
          </mat-form-field>
          <!-- Dirige -->
          <mat-form-field appearance="outline">
            <mat-label>Dirige</mat-label>
            <input
              formControlName="dirige"
              matInput
              placeholder="Placeholder"
            />
          </mat-form-field>
          <!-- Fecha de Reunion -->
          <mat-form-field appearance="outline">
            <mat-label>Fecha de Reunion</mat-label>
            <input formControlName="fecha" matInput [matDatepicker]="picker" />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <!-- Reconocimientos -->
          <mat-form-field appearance="outline">
            <mat-label>Reconocimientos</mat-label>
            <textarea
              formControlName="reconocimientos"
              matInput
              placeholder="Placeholder"
            ></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="pt-8 space-y-6 sm:pt-10 sm:space-y-5">
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">Reunion</h3>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">
          Informacion general de la reunion
        </p>
      </div>
      <div class="space-y-6 sm:space-y-5">
        <div
          class="
            sm:grid
            sm:grid-cols-2
            sm:gap-4
            sm:items-start
            sm:border-t
            sm:border-gray-200
            sm:pt-5
            space-y-6
            md:space-y-0
          "
        >
          <!-- Primera oracion -->
          <div>
            <label
              for="first_name"
              class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"
            >
              Primera Oracion
              <!-- Primera Oracion -->
            </label>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <mat-form-field class="w-3/4" appearance="outline">
                <input
                  formControlName="primera_oracion"
                  matInput
                  placeholder="Placeholder"
                />
              </mat-form-field>
            </div>
          </div>

          <!-- Primer Himno -->
          <div>
            <label
              for="last_name"
              class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"
            >
              Primer Himno
            </label>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <mat-form-field class="w-3/4" appearance="outline">
                <input
                  formControlName="primer_himno"
                  matInput
                  placeholder="Placeholder"
                />
              </mat-form-field>
            </div>
          </div>
        </div>

        <!-- Anuncios -->
        <div
          class="
            sm:grid
            sm:grid-cols-3
            sm:gap-4
            sm:items-start
            sm:border-t
            sm:border-gray-200
            sm:pt-5
          "
        >
          <label
            for="email"
            class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"
          >
            Anuncios
          </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <mat-form-field class="w-full">
              <textarea formControlName="anuncios" matInput></textarea>
            </mat-form-field>
          </div>
        </div>
        <!-- Relevos -->
        <div
          class="
            sm:grid
            sm:grid-cols-3
            sm:gap-4
            sm:items-start
            sm:border-t
            sm:border-gray-200
            sm:pt-5
          "
        >
          <label
            class="
              block
              text-sm
              font-medium
              text-gray-700
              sm:mt-px sm:pt-2
              row-span-full
            "
          >
            Relevos
          </label>
          <!-- Relevos -->
          <div
            class="mt-1 sm:mt-0 sm:col-start-2 sm:col-end-4 gap-2 sm:space-x-2"
          >
            <app-repeteable-field
              [controlName]="'relevos'"
              (data)="processData($event)"
            ></app-repeteable-field>
          </div>

          <!-- listado de relevos -->
          <ng-container formArrayName="relevos">
            <div
              *ngFor="let relevo of relevosArr.controls; let i = index"
              class="
                mt-1
                sm:mt-0 sm:col-span-2 sm:col-start-2 sm:col-end-4
                gap-2
                border-t-2 border-gray-300
                pt-4
              "
            >
              <ng-container [formGroupName]="i">
                <!-- nombre del relevo -->
                <div class="w-1 h-full rounded-sm"></div>
                <mat-form-field
                  appearance="outline"
                  class="w-full sm:w-2/5 mr-2"
                >
                  <input
                    formControlName="nombre"
                    matInput
                    placeholder="Nombre del Herman@"
                  />
                </mat-form-field>
                <!-- llamamiento a relavar -->
                <mat-form-field appearance="outline" class="w-3/4 sm:w-2/5">
                  <input
                    formControlName="llamamiento"
                    matInput
                    placeholder="Llamamiento a relevar"
                  />
                </mat-form-field>
                <button
                  (click)="eliminarRelevo(i)"
                  type="button"
                  class="
                    w-auto
                    inline-flex
                    items-center
                    p-1
                    ml-2
                    border border-transparent
                    rounded-full
                    shadow-sm
                    text-white
                    bg-red-600
                    hover:bg-red-700
                    focus:outline-none
                    focus:ring-2
                    focus:ring-offset-2
                    focus:ring-red-500
                  "
                >
                  <!-- Heroicon name: solid/plus -->
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M18 12H6"
                    />
                  </svg>
                </button>
              </ng-container>
            </div>
          </ng-container>
        </div>

        <!-- Sostenimientos -->
        <div
          class="
            sm:grid
            sm:grid-cols-3
            sm:gap-4
            sm:items-start
            sm:border-t
            sm:border-gray-200
            sm:pt-5
          "
        >
          <label
            class="
              block
              text-sm
              font-medium
              text-gray-700
              sm:mt-px sm:pt-2
              row-span-full
            "
          >
            Sostenimientos
          </label>
          <!-- Sostenimientos -->
          <div
            class="mt-1 sm:mt-0 sm:col-start-2 sm:col-end-4 gap-2 sm:space-x-2"
          >
            <app-repeteable-field
              [controlName]="'sostenimientos'"
              (data)="processData($event)"
            ></app-repeteable-field>
          </div>
          <!-- listado de Sostenimientos -->
          <ng-container formArrayName="sostenimientos">
            <div
              *ngFor="
                let discursante of sostenimientosArr.controls;
                let i = index
              "
              class="
                mt-1
                sm:mt-0 sm:col-span-2 sm:col-start-2 sm:col-end-4
                gap-2
                sm:space-x-2
                border-t-2 border-gray-300
                pt-4
              "
            >
              <ng-container [formGroupName]="i">
                <!-- nombre del hermano a sostener -->
                <mat-form-field
                  appearance="outline"
                  class="w-full sm:w-2/5 mb-5 md:mb-0"
                >
                  <input
                    formControlName="nombre"
                    matInput
                    placeholder="Nombre de Herman@"
                  />
                </mat-form-field>
                <!-- llamamiento a sosteienr  -->
                <mat-form-field
                  appearance="outline"
                  class="w-3/4 sm:w-2/5 mb-5 md:mb-0"
                >
                  <input
                    formControlName="llamamiento"
                    matInput
                    placeholder="Llamamiento a sostener"
                  />
                </mat-form-field>
                <button
                  (click)="eliminarSostenimiento(i)"
                  type="button"
                  class="
                    w-auto
                    inline-flex
                    items-center
                    p-1
                    ml-2
                    border border-transparent
                    rounded-full
                    shadow-sm
                    text-white
                    bg-red-600
                    hover:bg-red-700
                    focus:outline-none
                    focus:ring-2
                    focus:ring-offset-2
                    focus:ring-red-500
                  "
                >
                  <!-- Heroicon name: solid/plus -->
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M18 12H6"
                    />
                  </svg>
                </button>
              </ng-container>
            </div>
          </ng-container>
        </div>
        <!-- himno Sacramental -->
        <div
          class="
            sm:grid
            sm:grid-cols-3
            sm:gap-4
            sm:items-start
            sm:border-t
            sm:border-gray-200
            sm:pt-5
          "
        >
          <label
            class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"
          >
            Himno Sacramental
          </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <mat-form-field appearance="outline" class="w-1/2">
              <input
                formControlName="himno_sacramental"
                matInput
                placeholder="Placeholder"
              />
            </mat-form-field>
          </div>
        </div>

        <!-- Discursantes -->
        <div
          class="
            sm:grid
            sm:grid-cols-3
            sm:gap-4
            sm:items-start
            sm:border-t
            sm:border-gray-200
            sm:pt-5
          "
        >
          <label
            class="
              block
              text-sm
              font-medium
              text-gray-700
              sm:mt-px sm:pt-2
              row-span-full
            "
          >
            Discursantes
          </label>
          <!-- Compos Discursantes -->

          <div
            class="mt-1 sm:mt-0 sm:col-start-2 sm:col-end-4 gap-2 sm:space-x-2"
          >
            <app-repeteable-field
              [controlName]="'discursantes'"
              (data)="processData($event)"
            ></app-repeteable-field>
          </div>

          <!-- listado de los discursantes -->
          <ng-container formArrayName="discursantes">
            <div
              *ngFor="
                let discursante of discursantesArr.controls;
                let i = index
              "
              class="
                mt-1
                sm:mt-0 sm:col-span-2 sm:col-start-2 sm:col-end-4
                gap-2
                sm:space-x-2
                border-t-2 border-gray-300
                pt-4
              "
            >
              <ng-container [formGroupName]="i">
                <!-- nombre discursante -->
                <mat-form-field appearance="outline" class="w-full sm:w-2/5">
                  <input
                    formControlName="nombre"
                    matInput
                    placeholder="Nombre Discursante"
                  />
                </mat-form-field>
                <!-- tema discursante  -->
                <mat-form-field appearance="outline" class="w-3/4 sm:w-2/5">
                  <input formControlName="tema" matInput placeholder="Tema" />
                </mat-form-field>
                <button
                  (click)="eliminarDiscursante(i)"
                  type="button"
                  class="
                    w-auto
                    inline-flex
                    items-center
                    p-1
                    ml-2
                    border border-transparent
                    rounded-full
                    shadow-sm
                    text-white
                    bg-red-600
                    hover:bg-red-700
                    focus:outline-none
                    focus:ring-2
                    focus:ring-offset-2
                    focus:ring-red-500
                  "
                >
                  <!-- Heroicon name: solid/plus -->
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M18 12H6"
                    />
                  </svg>
                </button>
              </ng-container>
            </div>
          </ng-container>
        </div>

        <!-- Ultima oracion oracion y ultimo himno -->
        <div
          class="
            sm:grid
            sm:grid-cols-2
            sm:gap-4
            sm:items-start
            sm:border-t
            sm:border-gray-200
            sm:pt-5
          "
        >
          <div>
            <label
              for="first_name"
              class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"
            >
              Ultima Oracion
            </label>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <mat-form-field class="w-3/4" appearance="outline">
                <input
                  formControlName="ultima_oracion"
                  matInput
                  placeholder="Placeholder"
                />
              </mat-form-field>
            </div>
          </div>

          <!-- Himno Final -->
          <div>
            <label
              for="last_name"
              class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"
            >
              Himno Final
            </label>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <mat-form-field class="w-3/4" appearance="outline">
                <input
                  formControlName="ultimo_himno"
                  matInput
                  placeholder="Placeholder"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pt-5">
    <div class="flex justify-end space-x-4">
      <button
        type="button"
        class="
          bg-white
          py-2
          px-4
          border border-gray-300
          rounded-md
          shadow-sm
          text-sm
          font-medium
          text-gray-700
          hover:bg-gray-50
          focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500
        "
      >
        Cancel
      </button>
      <button
        [disabled]="formMinuta.invalid"
        (click)="guardarMinuta()"
        [ngClass]="{
          'bg-gray-500 text-gray-50 cursor-not-allowed hover:bg-gray-500':
            formMinuta.invalid
        }"
        type="submit"
        class="
          inline-flex
          items-center
          px-3
          py-2
          border border-transparent
          text-sm
          leading-4
          font-medium
          rounded-md
          shadow-sm
          text-white
          bg-indigo-600
          hover:bg-indigo-700
          focus:outline-none
          focus:ring-2
          focus:ring-offset-2
          focus:ring-indigo-500
        "
      >
        Guardar Minuta
      </button>
    </div>
  </div>
</form>
